@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.first-section {
    width: 80%;
    max-width: 1920px;
    margin: auto;
    color: #FFFFFF;

    &__header-wrapper {
        display: flex;
        gap: 50px;
    }

    &__header-left {
        width: 30%;
        height: 0;
        padding-top: 40%;
        position: relative;
    }

    &__poster {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__header-right {
        width: 67%;
    }

    &__location {
        color: #4F5B7C;
        font-weight: 500;
        font-size: 16px;
        line-height: 168.7%;
        display: flex;
        gap: 10px;
    }

    &__location-item {

        &_active {
            color: #FFFFFF;
        }
    }

    &__title {
        font-weight: 900;
        font-size: 65px;
        line-height: 83px;
    }

    &__sub-title {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
    }

    &__txt {
        font-size: 20px;
        margin-top: 20px;
        line-height: 166.5%;
    }

    &__actions {
        margin-top: 30px;
        display: flex;
        align-items: center;
    }

    &__actions-btn {
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        width: 260px;
        height: 71px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 166.5%;
        margin-right: 37px;
    }

    &__actions-share {
        margin-right: 20px;
    }

    &__header-bottom {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 13px;
    }

    &__header-bottom-icon {
        cursor: pointer;

        &_dislike {
            rotate: 180deg;
        }
    }

    &__header-bottom-rating {
        width: 185px;
        height: 59px;
        background: #1B2133;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #57D043;
        position: relative;
        z-index: 2;
    }

    &__header-bottom-rating-bg {
        background: #2E612590;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 85%;
        height: 100%;
        z-index: 1;
    }

    &__header-bottom-txt {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        gap: 63px;
    }

    &__main {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 63px;
    }

    &__main-block {
        display: flex;
        gap: 40px;

        &_left {
            width: 45%;
        }

        &_right {
            width: 55%;
        }
    }

    &__main-txt-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 18px;
        line-height: 22px;
        width: 100%;
    }

    &__key {
        white-space: nowrap;
    }

    &__value {
        color: #F2F60F;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70%;
    }
}

.main-characters {
    margin-top: 50px;
    width: 100%;
    color: white;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__title {
        font-weight: 900;
        font-size: 65px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 30px;
        text-decoration: none;

        &:hover {
            filter: invert(30%);
        }
    }

    &__more {
        font-weight: 700;
        font-size: 22px;
        color: white;
    }

    &__more-arrow {
        rotate: 90deg;
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 330px;
        gap: 50px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: start;
    }

    &__image-box {
        width: 100%;
        padding-top: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: start;
    }

    &__name {
        font-weight: 700;
        font-size: 18px;

        &_small {
            font-weight: 400;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    &__act-name {
        color: #F2F60F;
    }
}