.slider-container {
    display: flex;
    height: 520px;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    transition: .3s;

    .movie-card {
        min-width: 25%;

        &:not(:first-child) {
            padding-left: 20px;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.slider-btns {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 45px;
}

.slider-next {
    rotate: 90deg;
    height: 100%;
    cursor: pointer;
    transition: .2s;

    &:hover {
        scale: 1.2;
    }
}

.slider-fraction {
    font-weight: 500;
    font-size: 20px;
}

.slider-prev {
    rotate: -90deg;
    height: 100%;
    cursor: pointer;
    transition: .2s;

    &:hover {
        scale: 1.2;
    }
}