* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.liked {
    filter: invert(100%);
}

body {
    width: 100%;
    height: 80vh;
    background-color: #1E2538;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;

    &::after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: linear-gradient(#1E2538, #1E253810, #1E2538, #1E2538);
        position: absolute;
        bottom: 0px;
        z-index: -1;
    }

    &::-webkit-scrollbar {
        width: 15px;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        border-radius: 10px;

        &-thumb {
            background-color: #FFFFFF;
            border-radius: 15px;
        }
    }
}

main {
    max-width: 1920px;
    width: 90%;
    margin: 50px auto;
}

.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .movies {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        width: 100%;
        margin: 0 auto;
    }

    .more {
        width: 200px;
        height: 71px;
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        color: white;
        background-color: transparent;
        font-weight: 700;
        font-size: 18px;
        line-height: 166.5%;
        transition: .2s;
        cursor: pointer;

        &:hover {
            color: #1E2538;
            background-color: white;
        }
    }

    .genres {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        width: 100%;

        h1 {
            font-weight: 900;
            font-size: 65px;
            color: white;
            white-space: nowrap;
        }

        div {
            width: 50px;
            height: 2px;
            background-color: white;
            border-radius: 1px;
        }

        nav {
            width: 765px;
            display: flex;
            justify-content: space-between;
            gap: 15px;

            p {
                color: #FFFFFF59;
                font-weight: 700;
                font-size: 18px;
                cursor: pointer;
                transition: .2s;

                &:hover {
                    color: #FFFFFF;
                }
            }

            .act_txt {
                color: white;
            }
        }
    }
}

.trailers {
    color: #FFFFFF;
    margin-top: 50px;

    &_play-icon {
        width: 73px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        transition: .3s;
        z-index: 10;
        display: none;

        &_mini {
            width: 35px;
            display: block;
        }
    }

    &__header {
        margin-bottom: 80px;
    }

    &__title {
        white-space: nowrap;

        &_big {
            font-weight: 900;
            font-size: 65px;
            line-height: 83px;
            white-space: nowrap;
        }

        &_medium {
            font-weight: 900;
            font-size: 45px;
            line-height: 57px;
            white-space: nowrap;
        }

        &_small {
            font-weight: 900;
            font-size: 20px;
            line-height: 25px;
            white-space: nowrap;
        }
    }

    &__more {
        display: flex;
        align-items: center;
        gap: 35px;
        text-decoration: none;
        padding: 3px 15px 3px 8px;
        border-radius: 10px;
        transition: .2s;

        &:hover {
            background-color: black;
            filter: invert(100%);
        }
    }

    &__more-txt {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
    }

    &__more-icon {
        rotate: 90deg;
    }

    &__main {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    &__vid {
        width: 100%;
        position: relative;

        &_big {
            width: 100%;
            padding-top: 46.25%;
            position: relative;
        }

        &_mini {
            width: 344.37px;
            height: 247.02px;
        }
    }

    &__iframe {
        width: 100%;
        height: 100%;

        &_big {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20px;
        }

        &_small {
            border-radius: 10px;
            object-fit: cover;
            object-position: center;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__share {
        display: flex;
        align-items: center;
        gap: 34px;
    }

    &__share-img {
        cursor: pointer;
    }

    &__share-icon {
        cursor: pointer;
    }

    &__actions-items {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__actions-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    &__actions-item-icon-like {
        background-color: #1B2133;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            filter: invert(100%);
        }
    }

    &__actions-item-txt {
        white-space: nowrap;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
    }

    &__actions-item-icon-dislike {
        rotate: 180deg;
        background-color: #1B2133;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            filter: invert(100%);
        }
    }

    &__footer {
        width: 100%;
        overflow-x: scroll;
        display: flex;
        gap: 20px;
        padding-bottom: 20px;
        margin-top: 43px;

        &::-webkit-scrollbar {
            height: 7px;
            background: #1B2133;
            border-radius: 10px;

            &-thumb {
                background: #3657CB;
                border-radius: 10px;
            }
        }
    }

    &__footer-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    .image {
        width: 100%;
        position: relative;
        border-radius: 15px;
        overflow: hidden;

        button {
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgba(55, 94, 232, 0.4);
            border-radius: 10px;
            font-weight: 700;
            font-size: 18px;
            color: #3657CB;
            padding: 20px 40px;
            visibility: hidden;
            opacity: 0;
            transition: .2s;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            border: none;
            z-index: 5;
            cursor: pointer;
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: .2s;
        }

        &:hover {
            &::after {
                background-color: #3657CBA6;
            }

            button {
                visibility: visible;
                opacity: 1;
            }
        }

        img {
            object-position: center;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    span {
        padding: 5px 13px;
        background-color: #89CB36;
        border: 1px solid #89CB36;
        border-radius: 5px;
        color: white;
        font-weight: 700;
        font-size: 18px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .name__genre {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: start;

        p:first-child {
            font-weight: 700;
            font-size: 18px;
            color: #FFFFFF;
        }

        p:last-child {
            color: #F2F60F;
            font-weight: 400;
            font-size: 15px;
        }
    }
}

.popular-persons {
    margin-top: 65px;
    color: white;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__title {
        font-weight: 900;
        font-size: 65px;
    }

    &__header-nav {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__nav-item {
        font-weight: 700;
        font-size: 18px;
        color: #6D717D;

        &_active {
            color: white;
        }
    }

    &__main {
        display: flex;
        gap: 22px;
        height: 444px;
        width: 100%;
    }

    .popular_person_cont {
        display: flex;
        gap: 22px;
        width: 66.66666%;
    }

    &__box {
        height: 100%;
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding: 15px 18px;
        border-radius: 10px;
        overflow: hidden;
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 55.56%);
    }

    &__box-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }

    &__num {
        color: #F2F60F;
        font-weight: 500;
        font-size: 15px;
    }

    &__name {
        font-weight: 700;
        font-size: 27px;

        &_eng {
            color: #FFFFFF59;
            font-weight: 600;
            font-size: 20px;
        }
    }

    &__age {
        color: #F2F60F;
        font-weight: 500;
        font-size: 15px;
    }

    &__list {
        background-color: #1B2133;
        width: 33.3333%;
        padding: 30px;
        height: 100%;
        overflow-y: auto;
        border-radius: 10px;

        &::-webkit-scrollbar {
            width: 14px;
            border-radius: 10px;
            background-color: gray;

            &-thumb {
                background-color: white;
                border-radius: 10px;

                &:hover {
                    background-color: #c4c4c4;
                }
            }
        }
    }

    &__cart {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #272d3e;
        padding-bottom: 20px;
    }

    &__cart-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: start;
    }
}

.popular-movies {
    margin-top: 75px;
    color: white;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 63px;
    }

    &__title {
        font-weight: 900;
        font-size: 65px;
    }

    &__header-dash {
        height: 3px;
        width: 50px;
        background-color: white;
        border-radius: 5px;
    }

    &__nav {
        display: flex;
        gap: 25px;
    }

    &__nav-item {
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF59;
        transition: .2s;
        cursor: pointer;

        &:hover {
            color: #FFFFFF;
        }

        &_act {
            color: #FFFFFF;
        }
    }

    &__slider-btns {
        width: fit-content;
        margin: 54px auto;
    }
}

.upcoming {
    margin-top: 130px;
    color: white;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__title {
        font-weight: 900;
        font-size: 65px;
    }
}

footer {
    min-height: 50px;
    max-width: 1920px;
    margin: 0 auto;
}